# Application dependencies
flask==2.0.1
flask-cors==3.0.10
flask-socketio==5.1.1
python-socketio==5.4.0
python-engineio==4.3.0
python-can==3.3.4
eventlet==0.33.0
protobuf==3.19.4
numpy==1.21.2

# Test dependencies
pytest==6.2.5
pytest-flask==1.2.0
gevent==21.8.0
gevent-websocket==0.10.1 